<ion-content class="ion-text-center">
  <app-header></app-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>Identidicacion</div>
        </ion-col>
        <ion-col>
          <div>Nombre</div>
        </ion-col>
        <ion-col>
          <div>Rol</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-grid>
      <ion-row *ngFor="let u of usuario">
        <ion-col>
          <ion-item-sliding>
            <ion-item>
              <div>{{ u.idUsuario }}</div>
              <div>{{ u.nomUsuario }}</div>
              <div>{{ (u.rolUsuario == 1) ? 'Administrador' : 'Operario' }}</div>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" expandable (click)="borrarTarea(i)">
                <ion-icon slot="icon-only" name="close"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item-options side="start">
              <ion-item-option color="primary" expandable (click)="borrarTarea(i)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </ion-grid>
  
</ion-content>