<ion-content class="ion-text-center">
  <app-header></app-header>
  <ion-list color="dark">
    <!--Usamos un ciclo for para mostrar los usuarios-->
    <!--ion-item *ngFor="let p of getUsuarios()" color="dark" detail >
    <ion-label > {{p.usuario.usuario}}</ion-label>  
    </ion-item-->
  </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div>Identidicacion</div>
        </ion-col>
        <ion-col>
          <div>Usuario</div>
        </ion-col>
        <ion-col>
          <div>Rol</div>
        </ion-col>
      </ion-row>
    </ion-grid>

  
</ion-content>